<section class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading mt-md-0 mt-3">
          <h2 translate>reset_password.heading</h2>
        </div>
        <div class="top-margin">
          <div class="row">
            <div class="col-md-6 mb-2 align-self-end">
              <form
                #resetForm="ngForm"
                (ngSubmit)="reset_password(resetForm)"
                class="form-signin"
              >
                <div class="text-center mb-4">
                  <i class="fa fa-user-circle text-primary mb-4" style="font-size: 100px"></i>
                  <h2 class="h3 mb-3 font-weight-normal" translate>reset_password.heading</h2>
                </div>

                <div class="form-label-group">
                  <input
                    #email_address="ngModel"
                    [(ngModel)]="emailAddress"
                    autofocus
                    class="form-control"
                    id="inputEmail"
                    name="email_address"
                    placeholder="{{'reset_password.email_address' | translate}}"
                    required
                    type="email"
                  />
                  <label for="inputEmail" translate>reset_password.email_address</label>
                  <div
                    *ngIf="email_address.invalid && email_address.dirty"
                    class="invalid"
                    translate
                  >
                    reset_password.required
                  </div>
                </div>
                <button
                  [disabled]="!resetForm.valid"
                  class="btn btn-lg btn-primary btn-block"
                  translate
                  type="submit"
                >
                  reset_password.submit
                </button>
              </form>
            </div>
            <div class="col-md-6">
              <img
                alt="delivery"
                class="img-fluid p-4"
                src="../../assets/img/delivery.jpg"
                style="margin-top: 1px;"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <img
    src="../../assets/img/fin.jpg"
    style="max-width: 500px; max-height:300px;"
  />
</ng-template>
