<section class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading mt-md-0 mt-3">
          <h2 translate>our_services_sub.shipping.heading</h2>
        </div>
        <div class="">
          <div class="row">
            <div class="col-md-4">
              <div class="services-menu">
                <ul>
                  <li><a itemprop="url" routerLink="/our-services/about-us"
                      translate>our_services_sub.navigation.about_us</a>
                  </li>
                  <li><a itemprop="url" routerLink="/our-services/shipping"
                      translate>our_services_sub.navigation.shipping</a>
                  </li>
                  <li><a itemprop="url" routerLink="/our-services/rules" translate>our_services_sub.navigation.rules</a>
                  </li>

                  <li><a itemprop="url" routerLink="/our-services/mission"
                      translate>our_services_sub.navigation.mission</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8 p-4" style="border: 1px solid #000">
              <p itemprop="description" [innerHtml]="'our_services_sub.shipping.description' | translate">



              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
