<footer>
  <section class="block">
    <div class="parallax dark" data-velocity="-.2"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 column">
              <div class="widget">
                <div class="about-widget">
                  <div class="heading2">
                    <h3 translate>footer.heading</h3>
                  </div>
                  <p itemprop="description" translate>footer.description</p>
                  <ul class="social-btn">
                    <li><a href="https://www.facebook.com/Exbir Logisticsaz-102809751313741/" itemprop="url"
                        target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/exbir1.az" itemprop="url" target="_blank"><i
                          class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-5 column">
              <div class="row">
                <div class="col-md-6 column">
                  <div class="widget">
                    <div class="heading2">
                      <h3 translate>footer.other_services</h3>
                    </div>
                    <div class="links-widget">
                      <ul>
                        <li><a itemprop="url" routerLink="/our-services" translate>footer.road_freight</a></li>
                        <li><a itemprop="url" routerLink="/our-services" translate>footer.air_freight</a></li>
                        <li><a itemprop="url" routerLink="/our-services" translate>footer.sea_freight</a></li>
                        <li><a itemprop="url" routerLink="/our-services" translate>footer.rail_freight</a></li>
                        <li><a itemprop="url" routerLink="/our-services" translate>footer.courier_service</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 column">
                  <div class="widget">
                    <div class="heading2">
                      <h3 translate>footer.our_services</h3>
                    </div>
                    <div class="links-widget">
                      <ul>
                        <li><a itemprop="url" routerLink="/our-services/about-us" translate>footer.about_us</a></li>
                        <li><a itemprop="url" routerLink="/our-services/shipping" translate>footer.shipping</a></li>
                        <li><a itemprop="url" routerLink="/our-services/rules" translate>footer.rules</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 column">
              <div class="widget blue1">
                <div class="heading2">
                  <h3 translate>footer.subscribe_heading</h3>
                </div>
                <div class="subscription-form">
                  <p itemprop="description" translate>footer.subscribe_content</p>
                  <form>
                    <input placeholder="{{'footer.subscribe_email' | translate}}" type="text" />
                    <a class="theme-btn" data-target="#submission-message" data-toggle="modal" href="#"><i
                        class="fa fa-paper-plane"></i><span translate>footer.subscribe_submit</span></a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="bottom-line">
    <div class="container">
      <div class="row">
        <div class="col-md-6 column">
          <span>&copy; 2020 <a itemprop="url">Exbir Logistics MMC</a></span>
        </div>
        <div class="col-md-6 column">
          <ul>
            <li><a><img height="32" src="assets/images/visa.png" width="112"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="blank"></div>
</footer>
