* {
  font-family: "proxima-nova", sans-serif;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
}

.pointer {
  cursor: pointer;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.text-primary{
  color: #2C3E50 !important;
}
.alert-primary {
  background-color: #2C3E50 !important;
  color: #FFF !important;
}
.btn-primary {
  background-color: #2C3E50 !important;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
