<section class="block no-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-unstyled">
          <owl-carousel [items]="images1" [options]="{items: 4, dots: false, navigation: false}">
            <li *ngFor="let image of images1;let i = index">
              <a href="{{image.href}}" itemprop="url" target="_blank">
                <img alt="Exbir Logistics" itemprop="image" src="{{image.source}}" width="200" />
              </a>
            </li>
          </owl-carousel>

          <owl-carousel [items]="images2" [options]="{items: 4, dots: false, navigation: false}">
            <li *ngFor="let image of images2;let i = index">
              <a href="{{image.href}}" itemprop="url" target="_blank">
                <img alt="Exbir Logistics" itemprop="image" src="{{image.source}}" width="200" />
              </a>
            </li>
          </owl-carousel>

          <!-- <owl-carousel [items]="images3" [options]="{items: 1, dots: false, navigation: false}">
            <li *ngFor="let image of images3;let i = index">
              <a href="{{image.href}}" itemprop="url" target="_blank">
                <img alt="Exbir Logistics" itemprop="image" src="{{image.source}}" width="200" />
              </a>
            </li>
          </owl-carousel> -->

        </ul>
      </div>
    </div>
  </div>
</section>
