<section class="block remove-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading mt-md-0 mt-3">
          <h2 translate>our_services.heading</h2>
        </div>
        <div class="top-margin">
          <div class="row">
            <div class="col-md-4">
              <div class="news-box">
                <div class="news-thumb">
                  <a itemprop="url"><img alt="Exbir Logistics" itemprop="image" src="assets/images/service_1.jpg"/></a>
                </div>
                <div class="news-detail">
                  <h2 itemprop="headline"><a itemprop="url"><span translate>our_services.express_delivery.heading</span></a>
                  </h2>
                  <p itemprop="description" [innerHtml]="'our_services.express_delivery.description' | translate">
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="news-box">
                <div class="news-thumb">
                  <a itemprop="url"><img alt="Exbir Logistics" itemprop="image"
                                         src="assets/images/service_2.jpg"/></a>
                </div>
                <div class="news-detail">
                  <h2 itemprop="headline"><a itemprop="url">
                    <span translate>our_services.road_freight.heading</span></a></h2>
                  <p itemprop="description" [innerHtml]="'our_services.road_freight.description' | translate"></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="news-box">
                <div class="news-thumb">
                  <a itemprop="url"><img alt="Exbir Logistics" itemprop="image"
                                         src="assets/images/service_3.jpg"/></a>
                  <div class="news-detail">
                    <h2 itemprop="headline"><a itemprop="url">
                      <span [innerHtml]="'our_services.air_freight.heading' | translate"></span></a></h2>
                    <p itemprop="description" [innerHtml]="'our_services.air_freight.description' | translate"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-margin">
          <div class="row">
            <div class="col-md-4">
              <div class="news-box">
                <div class="news-thumb">
                  <a itemprop="url"><img alt="Exbir Logistics" itemprop="image"
                                         src="assets/images/service_4.jpg"/></a>
                </div>
                <div class="news-detail">
                  <h2 itemprop="headline"><a itemprop="url" translate>our_services.sea_freight.heading</a>
                  </h2>
                  <p itemprop="description" [innerHtml]="'our_services.sea_freight.description' | translate">

                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="news-box">
                <div class="news-thumb">
                  <a itemprop="url"><img alt="Exbir Logistics" itemprop="image"
                                         src="assets/images/service_5.jpg"/></a>
                </div>
                <div class="news-detail">
                  <h2 itemprop="headline"><a itemprop="url" translate>our_services.rail_freight.heading</a>
                  </h2>
                  <p itemprop="description" [innerHtml]="'our_services.rail_freight.description' | translate">

                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="news-box">
                <div class="news-thumb">
                  <a itemprop="url"><img alt="Exbir Logistics" itemprop="image"
                                         src="assets/images/service_6.jpg"/></a>
                  <div class="news-detail">
                    <h2 itemprop="headline"><a itemprop="url" translate>our_services.courier_service.heading</a></h2>
                    <p itemprop="description" [innerHtml]="'our_services.courier_service.description' | translate">

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
