* {
  font-family: "proxima-nova", sans-serif;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
}

.border-left-primary {
  border-left: .25rem solid #2C3E50 !important;
}

.payment-processor-input {
  border-radius: 5px;
  font-size: 17px;
}

.card-number-image {
  position: absolute;
  right: 4px;
  top: 29px;
  border-radius: 5px;
  width: 61px;
  height: 35px;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.card-footer {
  background-color: #f8f9fc;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.text-primary{
  color: #2C3E50 !important;
}
.alert-primary {
  background-color: #2C3E50 !important;
  color: #FFF !important;
}
.btn-primary {
  background-color: #2C3E50 !important;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
