* {
  font-family: "proxima-nova", sans-serif;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
}

.border-left-primary {
  border-left: .25rem solid #2C3E50 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
  --color-white: #fff;
  --color-black: #333;
  --color-gray: #75787b;
  --color-gray-light: #bbb;
  --color-gray-disabled: #e8e8e8;
  --color-green: #53a318;
  --color-green-dark: #383;
  --font-size-small: .75rem;
  --font-size-default: .875rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  color: var(--color-black);
}

h2 {
  color: var(--color-gray);
  font-size: var(--font-size-small);
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

section {
  margin-bottom: 2rem;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.card-footer {
  background-color: #f8f9fc;
}


.payment-processor-input {
  border-radius: 5px;
  font-size: 17px;
}

.modal-footer {
  justify-content: flex-start !important;
}

.card-number-image {
  position: absolute;
  right: 4px;
  top: 29px;
  border-radius: 5px;
  width: 61px;
  height: 35px;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}
.text-primary{
  color: #2C3E50 !important;
}
.alert-primary {
  background-color: #2C3E50 !important;
  color: #FFF !important;
}
.btn-primary {
  background-color: #2C3E50 !important;
}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  text-decoration: none;
  color: white !important;
}

a:not([href]):hover {
  /* color: inherit; */
  text-decoration: none;
  color: white !important;
}

.selectpicker ul > li > a:hover, .selectpicker ul > li > a:focus {
  text-decoration: none;
  color: white !important;
  background-color: #2C3E50;
}


.pointer {
  cursor: pointer;
}
